body {
  	text-align: center;
  	color: black;
}
.nav {
	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-around;
  	margin: auto;
  	padding: 5px;
 
}
.nav img {
  	width: 100%;
  	min-width: auto;
  	max-width: 200px;
}

img {
	padding: 5px;
}
@media screen and (max-width: 420px) {
  .nav {
    	flex-direction: column;
    	flex-wrap: nowrap;
  }
}
    
a {
    	color: lightblue;
    	text-decoration: none;
}
.content {
	
}

